.movie_list_header {
  padding: 10px 30px;

  justify-content: space-between;
  margin-bottom: 5px;
}

.movie_list_heading {
  font-size: 1.5em;
  color: var(--heading_color);
}

/* UL */
.movie_filter {
  list-style: none;
  font-size: 1em;
}

.movie_filter_item {
  padding: 5px 10px;
  cursor: pointer;
}

.movie_filter_item.active {
  border-bottom: 1px solid var(--heading_color);
  font-weight: 500;
}

.movie_sorting {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0 5px;
  margin: 0 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  height: 30px;
}

.movie_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
