.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  border-bottom: 2px solid #e6e6e6;
}

.navbar > h1 {
  font-size: 30px;
  color: #bebe15;
}

.navbar_links {
  display: flex;
  align-items: center;
}

.navbar_links > a {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  padding: 0 0.7em;
}

.navbar_emoji {
  width: 1.2em;
  height: 1.2em;
  margin-left: 0.5em;
}
