:root {
  --body_background: #101010;
  --body_color: #fff;
  --heading_color: var(--heading_color);
}

[data-theme='light'] {
  --body_background: #fff;
  --body_color: #000;
  --heading_color: #b1b113;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Lato ';
  src: url('./assets/fonts/Lato.woff2');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

body {
  background: var(--body_background);
  color: var(--body_color);
  font-family: 'Lato', sans-serif;
}

/* Custom css class */
.align_flex_center {
  display: flex;
  align-items: center;
}
