@font-face {
  font-family: 'Lato ';
  src: url('./assets/fonts/Lato.woff2');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #101010;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

/* Custom css class */
.align_flex_center {
  display: flex;
  align-items: center;
}
